---
layout: page-fullwidth
title: "Team"
meta_title: ""
subheadline: ""
teaser: ""
permalink: "/team/"
header:
image_fullwidth: "graph.jpg"
---

<!--
TEMPLATE FOR ADDING NEW MEMBER
COPY IN PROPER HEADING AND ADD DETAILS AS REQUIRED


{% include team_member
member_name=""
full_name=""
bio='<p align="justify">

</p>'
image="/assets/img/team/default.png"
interests=""
%}



-->



<div data-magellan-expedition="fixed">
    <ul class="sub-nav">
        <li data-magellan-arrival="Faculty"><a href="#Faculty">Faculty</a></li>
        <li data-magellan-arrival="PhD"><a href="#PhDs">PhD</a></li>
        <li data-magellan-arrival="Masters_Students"><a href="#Masters_Students">Masters Students (RA)</a></li>
        <li data-magellan-arrival="Undergraduate_Students"><a href="#Undergraduate_Students">Undergraduate Students</a>
        </li>
        <!-- <li data-magellan-arrival="Staff"><a href="#Staff">Staff</a></li>
    <li data-magellan-arrival="Students_Interns"><a href="#Students_Interns">Students and Interns</a></li> -->
        <li data-magellan-arrival="Alumni"><a href="#Alumni">Alumni</a></li>
        <!-- <li data-magellan-arrival="Past_Members"><a href="#Past_Members">Past Members</a></li> -->
    </ul>
</div>

<h2 data-magellan-destination="Faculty">Faculty</h2><a name="Faculty"></a>

{% include team_member
member_name="manohar"
full_name="Manohar Kaul"
bio='<p align="justify">
    Dr Manohar Kaul is an assistant professor in the <a href="https://cse.iith.ac.in/" target="_blank">Department of
        Computer Science and Engineering (CSE)</a> at the <a href="https://iith.ac.in/" target="_blank">Indian Institute
        of Technology, Hyderabad (IIT-H)</a>, where he heads the <a href="/">क्रम (Krama)
        Lab</a>. His work involves developing practical machine learning algorithms with rigorous theoretical
    foundations.
</p>'
image="/assets/img/team/mkaul.jpg"
interests="Geometric machine learning (graph and point-cloud representation learning), Optimal transport (discrete OT
and assignment
problems), Applied algebraic topology (topological data analysis)"
%}

<h2 data-magellan-destination="PhD">PhDs </h2><a name="PhD"></a>

{% include team_member
member_name="charu"
full_name="Charu Sharma"
bio='<p align="justify">
    Charu is currently a Ph.D. in the <a href="https://cse.iith.ac.in/" target="_blank">Department of Computer Science
        and Engineering (CSE)</a> at the <a href="https://iith.ac.in/" target="_blank">Indian Institute of Technology,
        Hyderabad (IIT-H)</a>. She has received
    “Excellence in Research Award” in 2020 and “Certificate of Appreciation in Research” in 2019 at <a
        href="https://iith.ac.in" target="_blank">IIT Hyderabad</a>.
</p>'
image="/assets/img/team/charu.png"
interests="Geometric machine learning, Point cloud data, Assignment problems, Optimal transport"
%}


{% include team_member
member_name="anson"
full_name="Anson Simon Bastos"
bio='<p align="justify">
    Anson is a part-time PhD candidate in the <a href="https://cse.iith.ac.in/" target="_blank">Department of Computer
        Science and Engineering (CSE)</a> at the <a href="https://iith.ac.in/" target="_blank">Indian Institute of
        Technology, Hyderabad (IIT-H)</a>. He has been working on solving research problems in Knowledge Graphs such
    as Relation Extraction, Link Prediction, Entity Linking etc.
</p>'
image="/assets/img/team/anson.jpg"
interests="Intersection of Machine learning, Topology, Geometric machine learning, Representation learning"
%}

{% include team_member
member_name="akshita"
full_name="Akshita Parekh"
bio='<p align="justify">
    Akshita is a part-time Ph.D. student in the <a href="https://cse.iith.ac.in/" target="_blank">Department of Computer
        Science and Engineering (CSE)</a> at the <a href="https://iith.ac.in/" target="_blank">Indian Institute of
        Technology, Hyderabad (IIT-H)</a>. Her work involves developing machine learning algorithms for applications
    based on Auto ML.
    <br>
    She is also working in the IT section of a unit of the <a href="https://dae.gov.in/" target="_blank">Department of
        Atomic Energy</a>. She completed her M.Tech in Computer Science and Engineering from <a
        href="http://www.hbni.ac.in/" target="_blank">Homi Bhabha National Institute, Mumbai</a> under the supervision
    of Dr. Gopika Vinod and Ms. Urvashi Karnani Gaur.
</p>'
image="/assets/img/team/akshita.jpg"
interests="Scalable auto machine learning, Intersection of DBMS and machine learning"
%}



<h2 data-magellan-destination="Masters_Students">Masters Students (RA)</h2><a name="Masters_Students"></a>

{% include team_member
member_name="subodh"
full_name="Subodh Nigam"
bio='<p align="justify">
    Subodh is currently a Masters student in the <a href="https://cse.iith.ac.in/" target="_blank">Department of
        Computer Science and Engineering (CSE)</a> at the <a href="https://iith.ac.in/" target="_blank">Indian Institute
        of Technology, Hyderabad (IIT-H)</a>.
</p>'
image="/assets/img/team/subodh.jpg"
interests="Geometric machine learning"
%}

{% include team_member
member_name="vishal"
full_name="Vishal Singh Yadav"
bio='<p align="justify">
    Vishal is currently a Masters student in the <a href="https://cse.iith.ac.in/" target="_blank">Department of
        Computer Science and Engineering (CSE)</a> at the <a href="https://iith.ac.in/" target="_blank">Indian Institute
        of Technology, Hyderabad (IIT-H)</a>.
</p>'
image="/assets/img/team/vishal.png"
interests="Geometric Machine Learning, Natural Language Processing"
%}



<h2 data-magellan-destination="Undergraduate_Students">Undergraduate Students</h2><a name="Undergraduate_Students"></a>

{% include team_member
member_name="jatin"
full_name="Jatin Chauhan"
bio='<p align="justify">
    Jatin is a final-year undergraduate student in the department of <a href="https://cse.iith.ac.in/"
        target="_blank">CSE</a> at the <a href="https://iith.ac.in/" target="_blank">Indian Institute of Technology,
        Hyderabad (IIT-H)</a>.
</p>'
image="/assets/img/team/jatin.png"
interests="Explainability and Interpretability of Deep Neural Networks (more specifically NLP models), Topological
Analysis of Neural Networks,
Knowledge Graphs, Graph Neural Networks"
%}


<h2 data-magellan-destination="Alumni">Alumni</h2><a name="Alumni"></a>

{% include team_member
member_name="deepak"
full_name="Deepak Nathani"
bio='<p align="justify">
    Deepak was a undergraduate student in the department of <a href="https://cse.iith.ac.in/" target="_blank">Computer
        Science and Engineering</a> at the <a href="https://iith.ac.in/" target="_blank">Indian Institute of Technology,
        Hyderabad (IIT-H)</a>. He graduated with a B.Tech degree in Mechanical Engineering and Computer Science as his
    second major.
    <br>
    During his time as an undergraduate in the lab, he worked on various research problems under Dr. Manohar Kaul. He
    is currenlty working at <a href="https://research.google/locations/india/" target="_blank">Google Research,
        Bangalore</a>.
</p>'
image="/assets/img/team/deepak.jpg"
interests="Knowledge Graphs"
%}


{% include team_member
member_name="nikhil"
full_name="Nikhil P. Kumaar"
bio='<p align="justify">
    Nikhil was a masters student at IITH. He worked on his thesis titled Scene Graph Generation. He is currently working
    at <a href="https://www.nvidia.com/en-in/" target="_blank">NVIDIA</a>.
</p>'
image="/assets/img/team/default.png"
interests="Scene Graph"
%}


{% include team_member
member_name="pratik"
full_name="Pratik Shukla"
bio='<p align="justify">
    Pratik was a masters student at IITH. He worked on his thesis titled Text Clustering using Graph Kernels. He is
    currently working at
    <a href="https://www.qualcomm.com/" target="_blank">Qualcomm</a>.
</p>'
image="/assets/img/team/default.png"
interests="Knowledge Graphs"
%}


{% include team_member
member_name="varun"
full_name="Varun Mishra"
bio='<p align="justify">
    Varun was a masters student at IITH. He worked on his thesis titled Document Simplicial Complexes. He is currently
    working at
    <a href="https://www.flipkart.com/" target="_blank">Flipkart</a>.
</p>'
image="/assets/img/team/varun.jpg"
interests="Simplicial Complexes"
%}